<div class="calculator-container">

    <h1>Calculadora de Dividendos</h1>
    <form action="/calcular-dividendos" method="post">
        <label for="investimento">Valor:</label>
        <input type="number" id="investimento" name="investimento" required>
        <br>
        <label for="dias">Dias investidos:</label>
        <input type="number" id="dias" name="dias" required>
        <br>
        <button type="submit">Calcular</button>
    </form>
    <% if (resultado) { %>
        <div id="result">
            Resultado: <%= resultado %>
        </div>
    <% } %>
    
</div>